.crypto {
    padding: 20px;
    background-color: #0B0E17;
    min-height: 100vh;
}

.crypto-header {
    display: grid;
    grid-template-columns: 50px 1fr 130px 100px 130px;
    align-items: center;

    padding: 10px 20px;

    color: #64748b;
    font-size: 12px;
    font-weight: 600;

    text-transform: uppercase;
}

.crypto-layout {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
